doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='https://www.prisma.fi') Prisma Verkkokauppa
      li
        a(href='https://www.k-citymarket.fi') Citymarket Verkkokauppa
    block content
    inlude
