doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='https://www.academy.fi') Academy
      li
        a(href='https://www.academicwork.fi') Academic Work
    block content
    inlude
