extends layout

block content
    br
    h1= title
    p Lis채채 tuotteita ostoslistaan alla.
    br
    form#lomakeid(method="post", action="/tuotteet")  
        input#lomakenimi(type="text", placeholder="Tuote", name="name")
        br
        br
        button#lomakesubmit(type="submit") Lis채채
    br
    ul
        each a in shoppingArray
            li #{a.name}        

