extends layout

block content
    hr
    h1= title
    p Tervetuloa #{title}an
    hr
    form#lomakeid(method="post", action="/addperson")
        input#lomakenimi(type="text", placeholder="Nimi", name="name")
        br
        button#lomakesubmit(type="submit") Luo
    hr
    ul
        each a in shoppingArray
            li #{a.name}
    include includes/foot.pug
