extends layout

block content
    br
    h1= title
    p Lis채채 tuotteita #{title}an alta.
    hr
    form#lomakeid(method="post", action="/ostoslista")  
        input#lomakenimi(type="text", placeholder="Tuote", name="name")
        br
        button#lomakesubmit(type="submit") Lis채채
    hr
    ul
        each a in shoppingArray
            li #{a.name}
                button#deletenappi(type="button") Poista
    include includes/foot.pug
    script(src="/javascripts/delete.js")